@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  height: 30px;
}
.header__img {
  display: block;
  margin: auto;
  width: 200px;
}
.header__left {
  padding: 0 0 0 10px;
  margin: 0;
  position: absolute;
  left: 5px;
  top: 28px;
}

.index {
  font-family: "Roboto", sans-serif;
}
.index button {
  font-family: "Roboto", sans-serif;
}
.index__Title {
  font-family: "Shrikhand", cursive;
}
.index__loca {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: inset 0px 2px 3px 0px grey;
}
.index__loca--mark {
  padding-right: 10px;
}
.index__loca--input {
  text-align: center;
  width: 40%;
  max-width: 150px;
  border: none;
  color: #353535;
  background-color: #eaeaea;
  font-size: 18px;
}

.reservation {
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
}
.reservation h1 {
  margin: 0;
  padding: 30px 50px 0 50px;
}
.reservation p {
  margin: 0;
  padding: 10px;
}
.reservation button {
  margin: 10px 0 50px 0;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 10px 1px grey;
  color: white;
  cursor: pointer;
}
.reservation button:hover {
  box-shadow: 0px 5px 5px 1px #6e6e6e;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

.fonction {
  margin: 0;
  padding: 0 20px 50px 20px;
}

.step {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0 20px 0;
}
.step p {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 5px;
  margin: 3px;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  text-align: center;
}
.step__inside {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0 0 0 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 0 20px;
  box-shadow: 0px 5px 5px 1px #eaeaea;
}
.step__inside i {
  margin: 20px;
  color: #353535;
}
.step__inside h3 {
  width: 100%;
}
.step__inside:hover {
  background-color: #f2eafb;
}
.step__inside:hover i {
  color: #9356DC;
}

.bloc-restaurant {
  margin: 0px;
  padding: 40px 20px 20px 20px;
  background-color: #f6f6f6;
}

.rest {
  box-shadow: 0px 5px 5px 1px #eaeaea;
  border-radius: 20px;
  margin: 20px 0 30px 0;
  display: flex;
}
.rest__img--index {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 250px;
}
.rest__img--card {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.rest__new1 {
  position: absolute;
  right: 30px;
  background-color: #99E2D0;
  color: #32b091;
  padding: 7px 20px;
  font-weight: bold;
  top: 870px;
}
.rest__new2 {
  position: absolute;
  right: 30px;
  background-color: #99E2D0;
  color: #32b091;
  padding: 7px 20px;
  font-weight: bold;
  top: 1225px;
}
.rest__inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 10px 15px;
}
.rest__inside__txt {
  line-height: 5px;
}
.rest__inside i {
  font-size: 25px;
  padding-right: 15px;
}
.rest__inside i:hover {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.rest__inside i:active {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.footer {
  background-color: #353535;
  color: white;
  margin: 0;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 20px 0 20px 0;
  font-weight: 300;
}
.footer__i-txt {
  display: flex;
  align-items: center;
  margin: 0;
}
.footer__i-txt i {
  width: 10px;
  padding: 0 20px 0 0;
}
.footer p {
  padding: 5px 0 5px 0;
  margin: 0;
}

.menu {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  position: relative;
  top: -75px;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  font-size: 18px;
}
.menu__title i {
  font-size: 25px;
  padding-right: 10px;
}
.menu__title i:hover {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu__title i:active {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu__plates {
  padding: 0 20px;
  margin: 0px 0px 50px 0px;
}
.menu__plates h2 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  border-bottom: solid 3px #99E2D0;
  width: 50px;
  line-height: 35px;
}
.menu__plates--elm {
  box-shadow: 0px 5px 5px 1px #eaeaea;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
}
.menu__plates--elm h3 {
  margin: 0;
}
.menu__plates--elminside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 0 0;
}
.menu__plates--elminside p {
  margin: 0;
}
.menu button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  display: block;
  height: 55px;
  width: 180px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 10px 1px grey;
  color: white;
  cursor: pointer;
  margin: 50px auto 0px;
}
.menu button:hover {
  box-shadow: 0px 5px 5px 1px #6e6e6e;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

.bckg {
  background-color: #f6f6f6;
}

.strong {
  font-weight: bolder;
}

/*# sourceMappingURL=style.css.map */
