@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  height: 30px;
}
.header__menu {
  box-shadow: 0px 5px 5px 1px #eaeaea;
}
.header__img {
  display: block;
  margin: auto;
  width: 200px;
}
.header__left {
  padding: 0 0 0 10px;
  margin: 0;
  position: absolute;
  left: 5px;
  top: 28px;
}
@media (min-width: 760px) {
  .header__left {
    display: none;
  }
}
.header__accueil {
  display: none;
}
@media (min-width: 760px) {
  .header__accueil {
    font-family: "Roboto", sans-serif;
    display: block;
    position: absolute;
    left: 30px;
    top: 10px;
    font-weight: 300;
    border-bottom: solid 3px #99E2D0;
    width: 30px;
  }
  .header__accueil:hover {
    color: #9356DC;
  }
}

.index {
  font-family: "Roboto", sans-serif;
}
.index button {
  font-family: "Roboto", sans-serif;
}
.index__Title {
  font-family: "Shrikhand", cursive;
}
.index__loca {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: inset 0px 2px 3px 0px grey;
}
.index__loca--mark {
  padding-right: 10px;
}
.index__loca--input {
  text-align: center;
  width: 40%;
  max-width: 150px;
  border: none;
  color: #353535;
  background-color: #eaeaea;
  font-size: 18px;
}

.reservation {
  text-align: center;
  width: 100%;
  background-color: #f6f6f6;
}
.reservation h1 {
  margin: 0;
  padding: 30px 50px 0 50px;
}
.reservation p {
  margin: 0;
  padding: 10px;
}
.reservation button {
  margin: 10px 0 50px 0;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 10px 1px grey;
  color: white;
  cursor: pointer;
  scale: 1;
  transition: transform 200ms;
}
.reservation button:hover {
  box-shadow: 0px 5px 5px 1px #6e6e6e;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  transform: scale(1.05);
}

.fonction {
  margin: 0;
  padding: 0 20px 50px 20px;
}
@media (min-width: 760px) {
  .fonction h2 {
    text-align: center;
  }
}
.fonction__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.step {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: 20px 0 20px 0;
  scale: 1;
  transition: transform 200ms;
}
.step p {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 5px;
  margin: 3px;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  text-align: center;
}
.step__inside {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0 0 0 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 0 20px;
  box-shadow: 0px 5px 5px 1px #eaeaea;
}
.step__inside i {
  margin: 20px;
  color: #353535;
}
.step__inside h3 {
  width: 100%;
}
.step__inside:hover {
  background-color: #f2eafb;
}
.step__inside:hover i {
  color: #9356DC;
}

.bloc-restaurant {
  margin: 0px;
  padding: 40px 10px 80px 10px;
  background-color: #f6f6f6;
}
.bloc-restaurant h2 {
  padding-left: 10px;
}
@media (min-width: 760px) {
  .bloc-restaurant h2 {
    text-align: center;
  }
}
.bloc-restaurant-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rest {
  position: relative;
  box-shadow: 0px 5px 5px 1px #eaeaea;
  border-radius: 20px;
  margin: 20px 10px 10px 10px;
  width: 100%;
  max-width: 335px;
  height: 250px;
  scale: 1;
  transition: transform 1s;
}
.rest:hover {
  transform: scale(1.05);
}
.rest a {
  width: 100%;
}
.rest__img--index {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 70%;
  object-position: 50% 100%;
}
.rest__img--index2 {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 70%;
  object-position: 50% 60%;
}
.rest__img--card {
  object-fit: cover;
  width: 100%;
  height: 300px;
  object-position: 50% 50%;
}
@media (min-width: 426px) {
  .rest__img--card {
    height: 500px;
    object-position: 50% 50%;
  }
}
.rest__new {
  position: absolute;
  right: 10px;
  background-color: #99E2D0;
  color: #32b091;
  padding: 6px 12px;
  font-weight: bold;
  font-size: 14px;
  top: 1px;
}
.rest__inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 10px 15px;
}
.rest__inside__txt {
  line-height: 5px;
}
.rest__inside i {
  font-size: 25px;
  padding-right: 15px;
  opacity: 0.5;
  transition: opacity 1000ms;
}
.rest__inside i:hover {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
}

.footer {
  background-color: #353535;
  color: white;
  margin: 0;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 20px 0 20px 0;
  font-weight: 300;
}
.footer__i-txt {
  display: flex;
  align-items: center;
  margin: 0;
}
.footer__i-txt i {
  width: 10px;
  padding: 0 20px 0 0;
}
.footer p {
  padding: 5px 0 5px 0;
  margin: 0;
}

.menu {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  position: relative;
  top: -75px;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  font-size: 18px;
}
.menu__title i {
  font-size: 25px;
  padding-right: 10px;
  opacity: 0.5;
  transition: opacity 1000ms;
}
.menu__title i:hover {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
}
.menu__title i:focus {
  font-weight: bolder;
  background: -webkit-linear-gradient(top, #9356DC 25%, #FF79DA 75%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  outline: none;
}
.menu__plates {
  padding: 0 20px;
  margin: 0px 0px 50px 0px;
  justify-items: center;
  display: block;
}
.menu__plates h2 {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  border-bottom: solid 3px #99E2D0;
  width: 50px;
  line-height: 35px;
}
.menu button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  display: block;
  height: 55px;
  width: 180px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 10px 1px grey;
  color: white;
  cursor: pointer;
  margin: 50px auto 0px;
  scale: 1;
  transition: transform 200ms;
}
.menu button:hover {
  box-shadow: 0px 5px 5px 1px #6e6e6e;
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  transform: scale(1.05);
}

.menu__plates--elm {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 5px 5px 1px #eaeaea;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
  margin: 0 auto 15px auto;
  align-items: center;
  animation: slideup 3500ms both;
}
.menu__plates--elm--1 {
  animation-delay: 525ms;
}
.menu__plates--elm--2 {
  animation-delay: 1050ms;
}
.menu__plates--elm--3 {
  animation-delay: 1575ms;
}
.menu__plates--elm--4 {
  animation-delay: 2100ms;
}
.menu__plates--elm--5 {
  animation-delay: 2625ms;
}
.menu__plates--elm--6 {
  animation-delay: 3150ms;
}
.menu__plates--elm--7 {
  animation-delay: 3675ms;
}
.menu__plates--elm--8 {
  animation-delay: 4200ms;
}
.menu__plates--elm--9 {
  animation-delay: 4725ms;
}
.menu__plates--elm--10 {
  animation-delay: 5250ms;
}
.menu__plates--elm h3 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__plates--elm:hover .text {
  width: 70%;
  min-width: 0;
  height: 50px;
  transition: all 0.5s ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: -15px 0;
}
.menu__plates--elm:hover .check-price {
  width: 30%;
  min-width: 150px;
  transition: all 0.5s ease-in-out;
}
.menu__plates--elm:hover .check {
  width: 60%;
  background: #99E2D0;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.menu__plates--elm:hover .price {
  width: 40%;
  transition: all 0.5s ease-in-out;
}
.menu__plates--elm:hover .fa-check-circle {
  align-items: center;
  justify-content: center;
  transform-origin: center;
  animation: rotation 1000ms forwards;
}

.text {
  width: 80%;
  transition: all 0.5s ease-in-out;
  height: 50px;
  padding: -15px 0;
}
.text p {
  margin: 0;
  padding: 7px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 17px;
}

.check-price {
  display: flex;
  align-items: center;
  width: 20%;
  min-width: 90px;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  height: 80px;
  margin: -15px;
}
.check-price .check {
  display: flex;
  opacity: 0;
  width: 0%;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 30px;
  transition: all 0.5s ease-in-out;
  transform-origin: right;
}
.check-price .price {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 65px 30px 0 0;
  transition: all 0.5s ease-in-out;
  height: 50px;
  padding: -15px -15px -15px 0;
  font-weight: bolder;
}

.bckg {
  background-color: #f6f6f6;
  width: 100%;
}
@media (min-width: 760px) {
  .bckg {
    margin: auto;
    width: 75%;
    min-width: 760px;
  }
}
@media (min-width: 1024px) {
  .bckg {
    margin: auto;
    width: 75%;
    max-width: 1024px;
  }
}

.loading {
  position: absolute;
  border-radius: 50%;
  display: flex;
  margin: auto;
  left: 48%;
  top: 25%;
  height: 100px;
  width: 100px;
  border-top: solid 4px #9356DC;
  animation: rotation 0.8s linear infinite;
}
@media (max-width: 768px) {
  .loading {
    left: 42%;
  }
}
@media (max-width: 480px) {
  .loading {
    left: 38%;
  }
}
.loading2 {
  position: absolute;
  border-radius: 50%;
  display: flex;
  margin: auto;
  left: 43%;
  top: 20%;
  height: 150px;
  width: 150px;
  border-bottom: solid 4px #99E2D0;
  animation: rotation 1.5s linear infinite reverse;
}
@media (max-width: 768px) {
  .loading2 {
    left: 40%;
  }
}
@media (max-width: 480px) {
  .loading2 {
    left: 35%;
  }
}
.loading3 {
  position: absolute;
  border-radius: 50%;
  display: flex;
  margin: auto;
  left: 50%;
  top: 19%;
  height: 75px;
  width: 75px;
  border-bottom: solid 4px #FF79DA;
  animation: rotation 0.5s linear infinite;
}
@media (max-width: 768px) {
  .loading3 {
    left: 38%;
  }
}
@media (max-width: 480px) {
  .loading3 {
    left: 32%;
  }
}
.loading__box {
  position: absolute;
  display: flex;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  animation: out 0.8s 1.5s ease-in-out both;
  background-color: #eaeaea;
}

@keyframes slideup {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    z-index: -5;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
