@mixin Font-title {
    font-family:'Shrikhand', cursive;
}
@mixin Font-txt {
    font-family: 'Roboto', sans-serif;
}
@mixin colour-pastel ($colour) {
    background-color: lighten($colour, 35%);
}
@mixin shadow-box ($color) {
    box-shadow: 0px 5px 5px 1px $color;
}

@mixin heart {
    font-weight: bolder;
    background:-webkit-linear-gradient(top,$color-primary 25%, $color-secondary 75%);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
@mixin link($color){
    text-decoration: none;
    color: $color;
}
@mixin new{
    position: absolute;
    right: 10px;
    background-color: $color-tertiary;
    color: darken($color-tertiary , 30%);
    padding: 6px 12px;
    font-weight: bold;
    font-size: 14px;
    top: 1px;
}
@mixin img-index{
    object-fit: cover;
    width: 100%;
}
@mixin menu-article{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
    margin: 0 auto 15px auto;
}
@mixin menu-article--inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 0 0;
    width: 100%;
}
@mixin bouton{
    border-radius: 30px;
    border: none;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    box-shadow: 0px 5px 10px 1px grey;
    color: white;
    cursor: pointer;
}
@mixin button--hover {
    @include shadow-box($color-button-shadow-hover);
    background: linear-gradient(to bottom right, lighten($color-secondary, 5%), lighten($color-primary, 5%));
}