
.bckg{
    background-color: $color-index;
    width: 100%;
    @media(min-width:760px){
        margin: auto;
        width: 75%;
        min-width: 760px;
    }
    @media(min-width:1024px) {
        margin: auto;
        width: 75%;
        max-width: 1024px;
    }
}

.menu{
    @include Font-txt;
    background-color: $color-index;
    border-radius: 30px 30px 0 0;
    z-index: 1;
    position: relative;
    top: -75px;
    &__title{
        @include Font-title;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 30px;
        font-size: 18px;
        & i{
            font-size: 25px;
            padding-right: 10px;
            opacity: 0.5;
            transition: opacity 1000ms;
            cursor: pointer;
            &:hover{
                @include heart;
                opacity: 1;
            }            
            &:focus{
                @include heart;
                opacity: 1;
                outline: none;
            }
        }
    }
    &__plates{
        padding: 0 20px;
        margin: 0px 0px 50px 0px;
        justify-items: center;
        display: block;

        & h2{
            margin-left: 10px;
            font-size: 20px;
            font-weight: 300;
            border-bottom: solid 3px $color-tertiary;
            width: 50px;
            line-height: 35px
        }
    }
    & button{
        @include Font-txt;
        font-size: 16px;
        margin: auto;
        display: block;
        height: 55px;
        width: 180px;
        @include bouton;
        margin: 50px auto 0px;
        scale: 1;
        transition: transform 200ms;
        &:hover{
            @include button--hover;
            transform: scale(1.05);
        }
    }
}


.menu__plates--elm{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
    @include shadow-box($color-maploc);
    @include menu-article;
    align-items: center;
    animation: slideup $anim-dur both;
    @for $x from 1 through $num-elm {
        &--#{$x} {
            animation-delay: $anim-delay*$x*1.5;
        }
    }
    & h3{
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        
    }
    &:hover .text{
        width: 70%;
        min-width: 0;
        height: 50px;
        transition: all 0.5s ease-in-out;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: -15px 0;

    }
    &:hover .check-price{
        width: 30%;
        min-width: 150px;
        transition: all 0.5s ease-in-out; 
    }
    &:hover .check{
        width: 60%;
        background:$color-tertiary;
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }
    &:hover .price{
        width: 40%;
        transition: all 0.5s ease-in-out;
    }
    &:hover .fa-check-circle{
        align-items: center;
        justify-content: center;
        transform-origin: center;
        animation: rotation 1000ms forwards;
    }
}

.text{
    width: 80%;
    transition: all 0.5s ease-in-out;
    height: 50px;
    padding: -15px 0;
    & p{
        margin: 0;
        padding: 7px 0 0 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 17px;
    }

}

.check-price{
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 90px;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    height: 80px;
    margin: -15px;

    & .check{
        display:flex;
        opacity: 0;
        width: 0%;
        justify-content: center;
        height: 100%;
        align-items: center;
        color: white;
        font-size: 30px;
        transition: all 0.5s ease-in-out;
        transform-origin: right;
    }
    & .price{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin: 65px 30px 0 0;
        transition: all 0.5s ease-in-out;
        height: 50px;
        padding: -15px -15px -15px 0;
        font-weight: bolder;
    }
}
