
body{
    margin: 0;
    padding: 0;
    position: relative;
}

a{
    @include link(black)
}

.header{
    display: flex;
    align-items: center;
    padding: 20px 0;
    height: 30px;
    &__menu{
        @include shadow-box($color-maploc);
    }
    &__img{
        display: block;
        margin: auto;
        width: 200px;
    }
    &__left{
        padding: 0 0 0 10px;
        margin: 0;
        position: absolute;
        left: 5px;
        top: 28px;
        @media(min-width:760px) {
            display: none;
        }
    }
    &__accueil{
        display: none;
        @media(min-width:760px) {
            @include Font-txt;
            display: block;
            position: absolute;
            left: 30px;
            top: 10px;
            font-weight: 300;
            border-bottom: solid 3px $color-tertiary;
            width: 30px;
            &:hover{
                color: $color-primary
            }
        }
    }
}

.index{
    @include Font-txt;
    & button{
        @include Font-txt;
    }
    &__Title{
        @include Font-title;
    }
    &__loca{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-maploc;
        color: $color-footer;
        box-shadow:inset 0px 2px 3px 0px grey;
        &--mark{
            padding-right: 10px;
        }
        &--input{
            text-align: center;
            width: 40%;
            max-width: 150px;
            border: none;
            color: $color-footer;
            background-color:$color-maploc;
            font-size: 18px;
        }
    }
}

.reservation{
    text-align: center;
    width: 100%;
    background-color: $color-index;
    & h1{
        margin: 0;
        padding: 30px 50px 0 50px;
    }
    & p{
        margin: 0;
        padding: 10px;
    }
    & button{
        margin: 10px 0 50px 0;
        padding: 15px;
        @include bouton;
        scale: 1;
        transition: transform 200ms;
        &:hover{
            @include button--hover;
            transform: scale(1.05);
        }
    }
}

.fonction{
    margin: 0;
    padding: 0 20px 50px 20px;
    & h2{
        @media(min-width:760px) {
            text-align: center;
        }
    }
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.step{
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 20px 0 20px 0;
    scale: 1;
    transition: transform 200ms;
    & p{
        background-color: $color-primary;
        color: white;
        position: absolute;
        padding: 5px;
        margin: 3px;
        border-radius: 50px;
        height: 20px;
        width: 20px;
        text-align:center ;
    }
    &__inside{
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        margin: 0 0 0 20px;
        background-color: $color-index;
        border-radius: 20px;
        padding: 0 20px;
        @include shadow-box ($color-maploc);
        & i{
            margin: 20px;
            color: $color-footer;
        }
        & h3{
            width: 100%;
        }
        &:hover{
            @include colour-pastel ($color-primary);
            & i{
                color: $color-primary;
            }
        }
    }
}
.bloc-restaurant{
    margin: 0px;
    padding: 40px 10px 80px 10px;
    background-color: $color-index;
    & h2{
        padding-left: 10px;
        @media(min-width:760px) {
            text-align: center;
        }
    }
    &-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.rest{
    position: relative;
    @include shadow-box ($color-maploc);
    border-radius: 20px;
    margin : 20px 10px 10px 10px;
    width: 100%;
    max-width: 335px;
    height: 250px;
    scale: 1;
    transition: transform 1s;
    &:hover{
        transform: scale(1.05);
    }
    & a{
        width: 100%;
    }
    &__img--index{
        @include img-index;
        border-radius: 20px 20px 0 0;
        height: 70%;
        object-position: 50% 100%;
        &2{
        @include img-index;
        border-radius: 20px 20px 0 0;
        height: 70%;
        object-position: 50% 60%;
        }
    }
    &__img--card{
        @include img-index;
        height: 300px;
        object-position: 50% 50%;
        @media (min-width:426px) {
            height: 500px;
            object-position: 50% 50%;
        }
    }
    &__new{
        @include new;
    }
    &__inside{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px 10px 15px;
        &__txt{
            line-height: 5px;
        }
        & i{
            font-size: 25px;
            padding-right: 15px;
            opacity: 0.5;
            transition: opacity 1000ms;
            &:hover{
                @include heart;
                opacity: 1;
            }
        }
    }
}

.footer{
    background-color: $color-footer;
    color: white;
    margin: 0;
    padding: 20px;
    @include Font-txt;
    & a{
        @include link(white)
    }
    & h3{
        @include Font-title;
        margin: 0;
        padding: 20px 0 20px 0;
        font-weight: 300;
    }
    &__i-txt{
        display: flex;
        align-items: center;
        margin: 0;
        & i{
            width: 10px;
            padding: 0 20px 0 0;
        }
    }
    & p{
        padding: 5px 0 5px 0;
        margin: 0;
    }
}

.menu{
    @include Font-txt;
    background-color: $color-index;
    border-radius: 30px 30px 0 0;
    z-index: 1;
    position: relative;
    top: -75px;
    &__title{
        @include Font-title;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 30px;
        font-size: 18px;
        & i{
            font-size: 25px;
            padding-right: 10px;
            opacity: 0.5;
            transition: opacity 1000ms;
            &:hover{
                @include heart;
                opacity: 1;
            }            
            &:focus{
                @include heart;
                opacity: 1;
                outline: none;
            }
        }
    }
    &__plates{
        padding: 0 20px;
        margin: 0px 0px 50px 0px;
        justify-items: center;
        display: block;

        & h2{
            margin-left: 10px;
            font-size: 20px;
            font-weight: 300;
            border-bottom: solid 3px $color-tertiary;
            width: 50px;
            line-height: 35px
        }
    }
    & button{
        @include Font-txt;
        font-size: 16px;
        margin: auto;
        display: block;
        height: 55px;
        width: 180px;
        @include bouton;
        margin: 50px auto 0px;
        scale: 1;
        transition: transform 200ms;
        &:hover{
            @include button--hover;
            transform: scale(1.05);
        }
    }
}

.menu__plates--elm{
    display: flex;
    justify-content: space-between;
    position: relative;
    @include shadow-box($color-maploc);
    @include menu-article;
    align-items: center;
    animation: slideup $anim-dur both;
    @for $x from 1 through $num-elm {
        &--#{$x} {
            animation-delay: $anim-delay*$x*1.5;
        }
    }
    & h3{
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        
    }
    &:hover .text{
        width: 70%;
        min-width: 0;
        height: 50px;
        transition: all 0.5s ease-in-out;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: -15px 0;

    }
    &:hover .check-price{
        width: 30%;
        min-width: 150px;
        transition: all 0.5s ease-in-out; 
    }
    &:hover .check{
        width: 60%;
        background:$color-tertiary;
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }
    &:hover .price{
        width: 40%;
        transition: all 0.5s ease-in-out;
    }
    &:hover .fa-check-circle{
        align-items: center;
        justify-content: center;
        transform-origin: center;
        animation: rotation 1000ms forwards;
    }
}

.text{
    width: 80%;
    transition: all 0.5s ease-in-out;
    height: 50px;
    padding: -15px 0;
    & p{
        margin: 0;
        padding: 10px 0 0 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 16px;
    }

}
.check-price{
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 90px;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    height: 80px;
    margin: -15px;

    & .check{
        display:flex;
        opacity: 0;
        width: 0%;
        justify-content: center;
        height: 100%;
        align-items: center;
        color: white;
        font-size: 30px;
        transition: all 0.5s ease-in-out;
        transform-origin: right;
    }
    & .price{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin: 65px 30px 0 0;
        transition: all 0.5s ease-in-out;
        height: 50px;
        padding: -15px -15px -15px 0;
        font-weight: bolder;
    }
}


.bckg{
    background-color: $color-index;
    width: 100%;
    @media(min-width:760px){
        margin: auto;
        width: 75%;
        min-width: 760px;
    }
    @media(min-width:1024px) {
        margin: auto;
        width: 75%;
        max-width: 1024px;
    }
}


.loading{
    @include loader;
    left: 48%;
    top: 25%;
    height: 100px;
    width: 100px;
    border-top: solid 4px $color-primary;
    animation: rotation .8s linear infinite ;
    @media (max-width: 768px){
        left: 42%;
    }
    @media (max-width: 480px){
        left: 38%;
    }   
    &2{
        @include loader;
        left: 43%;
        top: 20%;
        height: 150px;
        width: 150px;
        border-bottom: solid 4px $color-tertiary;
        animation: rotation 1.5s linear infinite reverse ;
        @media (max-width: 768px){
            left: 40%;
        }
        @media (max-width: 480px){
            left: 35%;
        } 
    }
    &3{
        @include loader;
        left: 50%;
        top: 19%;
        height: 75px;
        width: 75px;
        border-bottom: solid 4px $color-secondary;
        animation: rotation .5s linear infinite ;
        @media (max-width: 768px){
            left: 38%;
        }
        @media (max-width: 480px){
            left: 32%;
        } 
    }
    &__box{
        position: absolute;
        display: flex;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        animation: out .8s 1.5s ease-in-out both;
        background-color: $color-maploc;
    }
}

