
body{
    margin: 0;
    padding: 0;
    position: relative;
}

.loading{
    @include loader;
    left: 48%;
    top: 25%;
    height: 100px;
    width: 100px;
    border-top: solid 4px $color-primary;
    animation: rotation .8s linear infinite ;
    @media (max-width: 768px){
        left: 42%;
    }
    @media (max-width: 480px){
        left: 38%;
    }   
    &2{
        @include loader;
        left: 43%;
        top: 20%;
        height: 150px;
        width: 150px;
        border-bottom: solid 4px $color-tertiary;
        animation: rotation 1.5s linear infinite reverse ;
        @media (max-width: 768px){
            left: 40%;
        }
        @media (max-width: 480px){
            left: 35%;
        } 
    }
    &3{
        @include loader;
        left: 50%;
        top: 19%;
        height: 75px;
        width: 75px;
        border-bottom: solid 4px $color-secondary;
        animation: rotation .5s linear infinite ;
        @media (max-width: 768px){
            left: 38%;
        }
        @media (max-width: 480px){
            left: 32%;
        } 
    }
    &__box{
        position: absolute;
        display: flex;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        animation: out .8s 1.5s ease-in-out both;
        background-color: $color-maploc;
    }
}

a{
    @include link(black)
}

.header{
    display: flex;
    align-items: center;
    padding: 20px 0;
    height: 30px;
    &__menu{
        @include shadow-box($color-maploc);
    }
    &__img{
        display: block;
        margin: auto;
        width: 200px;
    }
    &__left{
        padding: 0 0 0 10px;
        margin: 0;
        position: absolute;
        left: 5px;
        top: 28px;
        @media(min-width:760px) {
            display: none;
        }
    }
    &__accueil{
        display: none;
        @media(min-width:760px) {
            @include Font-txt;
            display: block;
            position: absolute;
            left: 30px;
            top: 10px;
            font-weight: 300;
            border-bottom: solid 3px $color-tertiary;
            width: 30px;
            &:hover{
                color: $color-primary
            }
        }
    }
}

.rest{
    position: relative;
    @include shadow-box ($color-maploc);
    border-radius: 20px;
    margin : 20px 10px 10px 10px;
    width: 100%;
    max-width: 335px;
    height: 250px;
    scale: 1;
    transition: transform 1s;
    &:hover{
        transform: scale(1.05);
    }
    & a{
        width: 100%;
    }
    &__img--index{
        @include img-index;
        border-radius: 20px 20px 0 0;
        height: 70%;
        object-position: 50% 100%;
        &2{
        @include img-index;
        border-radius: 20px 20px 0 0;
        height: 70%;
        object-position: 50% 60%;
        }
    }
    &__img--card{
        @include img-index;
        height: 300px;
        object-position: 50% 50%;
        @media (min-width:426px) {
            height: 500px;
            object-position: 50% 50%;
        }
    }
    &__new{
        @include new;
    }
    &__inside{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px 10px 15px;
        &__txt{
            line-height: 5px;
        }
        & i{
            font-size: 25px;
            padding-right: 15px;
            opacity: 0.5;
            transition: opacity 1000ms;
            &:hover{
                @include heart;
                opacity: 1;
            }
        }
    }
}

.footer{
    background-color: $color-footer;
    color: white;
    margin: 0;
    padding: 20px;
    @include Font-txt;
    & a{
        @include link(white)
    }
    & h3{
        @include Font-title;
        margin: 0;
        padding: 20px 0 20px 0;
        font-weight: 300;
    }
    &__i-txt{
        display: flex;
        align-items: center;
        margin: 0;
        & i{
            width: 10px;
            padding: 0 20px 0 0;
        }
    }
    & p{
        padding: 5px 0 5px 0;
        margin: 0;
    }
}